<h1>{{title}}</h1>
<br />
<p>Category: {{category}}</p>
<p>Description: {{description}}</p>
<p>Review: {{review}}</p>

<form action='/games/addFavs/:gameId/{{_id}}' method='post'><button
    type='submit'
  >Add Favorite Game</button>
</form>

{{#each favoriteLeisure}}
  <p>{{this.name}}</p>
  <form action='/games/delFavs/:gameId/{{_id}}' method="post">
    <button type="submit">Delete</button>
  </form>
{{/each}}