
    <h1>{{username}} Favorite Games</h1>
    <ul>
        {{#each favorites}}
        <li>
            <h1>{{this.title}}</h1>
            <h2>{{this.category}}</h2>
            <h3>{{this.mode}}</h3>

            
        <form action="/removeFavorites/{{this._id}}" method="post">
            <button type="submit">Remove</button>
        </form>

        </li>
        {{/each}}
        
    </ul>
    <a href="/">Home</a>
    <a href="/games">Games List</a>
