<div>
    <h2>{{title}} details</h2>
    <section>
        <div>
            <h4>Title: {{title}}</h4>
            <p>Category: {{category}}</p>
            <p>Description: {{description}}</p>
            <p>Review: {{review}}</p>
            <p>Mode: {{mode}}</p>
        </div>
        <div>
            {{#each mode}}
                <div>
                    <h4>Game title: {{this.title}}</h4>
                    <p>Category: {{this.category}}</p>
                    <p>Description: {{this.description}}</p>
                    <p>Review: {{this.review}}</p>
                    <p>Mode: {{this.mode}}</p>
                </div>
            {{/each}}
        </div>
        <a href="/games/{{_id}}/edit">Edit the Game</a>
        <br>
        <form action="/games/{{_id}}/delete" method="post">
            <button type="submit">Delete</button>
        </form>

        <form action="/profile/{{profile._id}}/favorites/{{game._id}}" method="post">
            <button type="submit">Add to Favorites</button>
        </form>
        

    </section>
    <a href="/games">Back to games list</a>
    <a href="/">Home Page</a>
</div>