<div>
    <h2>Game Page</h2>
    <section>
        <div>
            <h4>Title: {{title}}</h4>
            <p>Category: {{category}}</p>
            <p>Description: {{description}}</p>
            {{#each reviews}}
            <p>Review: {{this.content}}</p>
            {{/each}}
            <p>Mode: {{mode}}</p>
        </div>
    
        <a href="/games/{{_id}}/edit">Edit the Game</a>
        <br>
        <hr>

        <form action="/review/create/{{_id}}" method="post">
        <label for="content">Leave your Review:</label>
        <input type="text" name="content" id="content">
        <button type="submit">Done</button>
        </form>

        <form action="/games/{{_id}}/delete" method="post">
            <button type="submit">Delete</button>
        </form>

        <form action="/addFavorites/{{_id}}" method="post">
            <button type="submit">Add to Favorites</button>
        </form>

    </section>
    <a href="/games">Back to games list</a>
    <a href="/">Home Page</a>
</div>