<div class="container d-flex justify-content-center">
  <div class="mt-5">
    <h1>{{usertitle}}: All Reviews</h1>
    <ul>
      {{#each reviews}}
      <li>
        <h2>{{../usertitle}}</h2>
        <h3>{{this.title}}</h3>
        <img src={{this.image}}  class="img-fluid" alt="Game Image">
        
        <p>Review: {{this.content}}</p>
        
        <form action="/review/delete/{{this._id}}" method="post">
          <button type="submit" class="btn btn-danger">Remove</button>
        </form>

        <hr>
      </li>
      {{/each}}
    </ul>
    <a href="/games" class="btn btn-primary">Games list</a>
    <a href="/" class="btn btn-primary">Home</a>
  </div>
</div>
