<div class="container d-flex justify-content-center">
  <div class="mt-5">
    <h1>{{usertitle}}: All Reviews</h1>
    <ul>
      {{#each reviews}}
      <li class="text-center mb-4">
        <h2>{{../usertitle}}</h2>
        <h3>{{this.title}}</h3>
        <div class="image-container">
          <img src="{{this.game.image}}" class="img-fluid" alt="Game Image">
        </div>
        
        <p>Review: {{this.content}}</p>
        
        <form action="/review/delete/{{this._id}}" method="post">
          <button type="submit" class="btn btn-danger">Remove</button>
        </form>

        <hr>
      </li>
      {{/each}}
    </ul>
    <div class="text-center">
      <a href="/games" class="btn btn-primary">Games list</a>
      <a href="/" class="btn btn-primary">Home</a>
    </div>
  </div>
</div>

<style>
  .image-container {
    width: 900px; /* Set the desired width */
    height: 500px; /* Set the desired height */
    margin: 0 auto;
    overflow: hidden;
  }

  .image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
</style>