
    <h1>{{usertitle}} All Reviews</h1>
    <ul>
        {{#each reviews}}
        <li>
            <h1>{{../usertitle}}</h1>
            <h2>{{this.title}}</h2>
            <h2>Description: {{this.content}}</h2>
            <img src="/images/{{this.image}}"> 

        <hr>
            
        <form action="/review/delete/{{this._id}}" method="post">
            <button type="submit">Remove</button>
        </form>

        </li>
        {{/each}}
        
    </ul>
    <a href="/games">Games list</a>
    <a href="/">Home</a>
    <script>

</script>
