<!DOCTYPE html>
<html>
<head>
    <title>Game Types</title>
</head>
<body>
    <h1>Game Types</h1>

    <div>
        <h2>Strategy Games</h2>
        <ul>
            {{#each strategyGames}}
            <li>
                <p>{{this.title}}</p>
                <a href="/games/{{this._id}}">See More</a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div>
        <h2>RPG Games</h2>
        <ul>
            {{#each rpgGames}}
            <li>
                <p>{{this.title}}</p>
                {{#if this._id}}
                <a href="/games/{{this._id}}">See More</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>

    <div>
        <h2>Action Games</h2>
        <ul>
            {{#each actionGames}}
            <li>
                <p>{{this.title}}</p>
                {{#if this._id}}
                <a href="/games/{{this._id}}">See More</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>

    <div>
        <h2>Sports Games</h2>
        <ul>
            {{#each sportsGames}}
            <li>
                <p>{{this.title}}</p>
                {{#if this._id}}
                <a href="/games/{{this._id}}">See More</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>

    <a href="/games/create">New type</a>
    <a href="/games">All games</a>
    <a href="/">Home Page</a>
</body>
</html>